.App {
  height: 100%;
  margin: 0 auto;
  background: #fff;
  text-align: center;
}

.App h1,
.App p {
  margin: 0;
  padding: 8px;
  color: #000d48;
}

.App .msg {
  display: flex;
  flex-direction: column-reverse;
  height: 550px;
  padding: 0 .5rem;
  overflow-y: auto;
  background: rgb(243, 234, 253);
  color: black;
  font-size: 20px;
}

.input {
  display: flex;
  padding: 1rem .5rem;
}

.input input {
  flex-basis: 70%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #262626;
  font-size: 18px;
}

.input input:focus {
  outline: none;
  border: 2px solid #8ca0ff;
}

.input button {
  margin-left: 1rem;
  padding: .75rem 1rem;
  border: 3px solid #8ca0ff;
  border-radius: 1.5rem;
  background: #8ca0ff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #f2f4ff;
  font-size: 18px;
}


@media (min-width: 768px) {
  
  .App {
    max-width: 70%;
    border-radius: 1rem;   
  }
  
}

@media (min-width: 1024px) {
  
  .App {
    max-width: 36%;
  }
  
}